.profile__info {
    width: 336px;
    align-self: center;
    margin-left: 30px;
    grid-area: info;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 1fr);
}

@media screen and (max-width: 768px) {
    .profile__info {
        width: 282px;
        margin: 0;
    }
}
