.register__form {
    display: flex;
    flex-direction: column;
    max-width: 358px;
    margin: 50px auto 0;
}

@media screen and (max-width: 320px) {
    .register__form {
        max-width: 260px;
    }
}
