.register__link {
    width: 358px;
    height: 50px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border: none;
    color: #000000;
    padding: 0;
    background-color: #ffffff;
    border-radius: 2px;
}

@media screen and (max-width: 320px) {
    .register__link {
        width: 260px;
        height: 46px;
        font-size: 16px;
        line-height: 19px;
    }
}
