.profile__edit-button {
    height: 24px;
    width: 24px;
    align-self: end;
    background-image: url(../../../images/EditButton.svg);
    border: 0;
    padding: 0;
    background-color: #000000;
    grid-area: edit-button;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: 18px;
}

@media screen and (max-width: 1024px) {
    .profile__edit-button {
        height: 18px;
        width: 18px;
        background-image: url(../../../images/EditButtonSmall.svg);
    }
}

.profile__edit-button:hover {
    opacity: 0.6;
}
