.profile__add-button {
    background-image: url(../../../images/AddButton.svg);
    align-self: center;
    width: 150px;
    height: 50px;
    justify-self: end;
    padding: 0;
    border: 0;
    background-color: #000000;
    grid-area: add-button;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .profile__add-button {
        background-image: url(../../../images/AddButtonBig.svg);
        width: 282px;
    }
}
