.profile__info-name {
    color: #ffffff;
    line-height: 48px;
    font-size: 42px;
    font-weight: 500;
    font-style: normal;
    font-family: 'Inter', Arial, sans-serif;
    margin: 0;
    max-height: 42px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .profile__info-name {
        font-size: 27px;
        line-height: 33px;
        text-align: end;
        height: 33px;
        align-self: center;
        margin-left: 28px;
    }
}
