@import url(./fonts/inter.css);
@import url(./vendor/normalize.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__title/header__title.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__info-job/profile__info-job.css);
@import url(./blocks/profile/__info-name/profile__info-name.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/element.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/like-button/like-button.css);
@import url(./blocks/like-button/_active/like-button_active.css);
@import url(./blocks/element/__bottom-element/element__bottom-element.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/form/form.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/delete-button/delete-button.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/element/__image-button/element__image-button.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__image-title/popup__image-title.css);
@import url(./blocks/form/__set/form__set.css);
@import url(./blocks/form/__field/form__field.css);
@import url(./blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/form/__error/form__error.css);
@import url(./blocks/form/__error/_visible/form__error_visible.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__input/_type/form__input_type_error.css);
@import url(./blocks/like-count/like-count.css);
@import url(./blocks/register/register.css);
@import url(./blocks/register/__button-container/register__button-container.css);
@import url(./blocks/register/__form/register__form.css);
@import url(./blocks/register/__link/register__link.css);
@import url(./blocks/register/__title/register__title.css);
@import url(./blocks/register/__input/register__input.css);
@import url(./blocks/register/__login-link/register__login-link.css);
@import url(./blocks/register/__signin/register__signin.css);
@import url(./blocks/register/__icon/register__icon.css);
@import url(./blocks/register/__text/register__text.css);
